h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-white-bg;
    display: flex;
    flex-direction: column;
    .lifeline-bar {
      display: flex;
      background-color: $color-black;
      flex-direction: row;
      height: 5rem;
      justify-content: center;
      button {
        margin: auto 8px;
        height: 4rem;
        width: 4rem;
        font-size: $font-heading-1-mobile;
        cursor: pointer;
        background-color: $color-orange;
        color: $color-white;
        outline: none;
        border: none;
        border-radius: 2px;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: $media-big) {
  .app {
    .container {
      width: 80%;
      height: 80%;
      margin: auto;
      align-items: flex-start;
      flex-direction: row;

      max-width: 1180px;
      .lifeline-bar {
        flex-direction: column;
        height: 100%;
        width: 7rem;

        justify-content: flex-start;
        button {
          margin: 8px auto;
          font-size: $font-heading-1;
          height: 5rem;
          width: 5rem;
        }
      }
    
    }
  }
}
