.question {
  width: 100%;
  padding: 1rem;
  .question-container {
    width: 95%;
    margin: auto;
    img {
      height: 8rem;
      object-fit: contain;
    }
    .answers {
      display: grid;
      margin-top: 2rem;
      grid-template-columns: auto;
      gap: 2rem;
      button {
        height: 44px;
        background-color: $color-blue-light;
        border: none;
        font-size: $font-p;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.quiz-status {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: 3rem auto;
  .left {
    color: $color-orange;
  }
  .right {
    span {
      color: red;
    }
  }
}
@media (min-width: $media-big) {
  .question {
    .question-container {
      width: 80%;
      .answers {
        grid-template-columns: auto auto;
        button {
        }
      }
    }
  }
}
