$color-blue-light: #DCEBFC;
$color-white: #ffffff;
$color-white-bg: #FBF4F4;
$color-black: #000000;
$color-orange: #C89F0C;


/* Fonts */
$font-heading-1: 24px;
$font-heading-1-mobile: 16px;



$font-p-mobile:16px;
$font-p:18px;

// Media queries
$media-small: 400px;
$media-big: 970px;